@import "tailwindcss";

:root {
  --color-background: #f6f7f8; /* Color para el fondo principal */
  --color-foreground: #ffffff; /* Color para el fondo de la barra lateral */
  --color-bg-selected: #e7f2fd; /* Color para el botón/texto seleccionado */
  --color-txt-selected: #137fec; /* Color para el botón/texto seleccionado */
  --color-txt-secondary: #52585d; /* Color gris claro para textos secundarios */
  --color-light: #616161; /* Color gris medio */
  --color-light-hover: #020617; /* Color gris oscuro para hover */
  --color-delete: #f44336; /* Color rojo para acciones de eliminación */
  --color-delete-hover: #dc2626; /* Color rojo más oscuro para hover de eliminación */
  --color-cancel: #f3f4f6; /* Color gris claro para botones de cancelar */
  --color-cancel-hover: #e5e7eb; /* Color gris más oscuro para hover de botones de cancelar */
  --color-button-send: #137fec; /* Azul vibrante para botones de envío */
  --color-button-send-hover: #2d92f7; /* Azul más claro para hover de botones de envío */
  --color-txt-placeholder: #9ca3af; /* Color gris para placeholders */
  --color-non-interactive: #6b7280; /* Color gris para elementos no interactivos */
  --color-line-limit: #e0e7f1; /* Color para líneas divisorias */
  --color-border-box: #d1d5dc; /* Color para bordes de cajas */
  /* Opcion para la caja de los select */
  select option {
    color: black;
  }
  select option[disabled] {
    color: gray;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
